# Kubernetes
alias k='kubectl'
alias kn='kubectl config set-context --current --namespace '
alias kcc='kubectl config current-context'
alias kgc='kubectl config get-contexts'
alias kge='kubectl get events --sort-by='\''{.lastTimestamp}'\'
alias kgp='kubectl get po'
alias kl='kubectl logs '
alias kpf='kubectl port-forward'
alias ksc='kubectl config use-context'

# Misc
# clear deleted branches (git prune)
alias cdb="git checkout master && git pull && git fetch --prune && git branch --merged master | egrep -v '(^\*|master|develop)' | xargs git branch -D 2>/dev/null || echo 'No branches found to delete.'; git branch -a"
alias wsl-ip="ip addr show eth0 | grep \"inet 1\" | awk '{print \$2}' | cut -d/ -f1"
alias py3='python3'
alias tf='terraform'
alias g='git'
alias timesync='sudo hwclock -s'
alias ddu='du -sh * | sort -hr | head -20'
alias aup='sudo apt update && sudo apt upgrade'
alias gl='git log --pretty=format:"- %s" master..$(git rev-parse --abbrev-ref HEAD) | sed -E '\''s/([0-9]+\.[0-9]+\.[0-9]+)/`\1`/g; s/\bupdate\b/updated/Ig; s/\bchange\b/changed/Ig; s/\bdelete\b/deleted/Ig; s/\bfix\b/fixed/Ig'\'' | tee >(clip.exe)'
alias glc='git log --pretty=format:"- %s" master..$(git rev-parse --abbrev-ref HEAD) | tee >(clip.exe)'
alias gll="git log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# Azure CLI
alias azas='az account show -o table'
alias az-bs='az account set -s TODO'
alias azh='source /mnt/c/Users/adamr/.azhome.sh'
alias azd='source /mnt/c/Users/adamr/.azdev.sh'
alias azm='source /mnt/c/Users/adamr/.azmgt.sh'
alias azmpub='source /mnt/c/Users/adamr/.azmgtpub.sh'

# get rid of command not found
alias cd..='cd ..'

# a quick way to get out of current directory
alias ..='cd ..'
alias ...='cd ../../../'
alias ....='cd ../../../../'
alias .....='cd ../../../../'
alias .4='cd ../../../../'
alias .5='cd ../../../../..'

# functions
bats() {
    echo "Running 'bats()' wrapper defined in .aliases.rc ..."
    BATS_RUN_SKIPPED=true command bats *.bats "$@"
}
